[submodule "2021_Podmornice"]
	path = 2021_Podmornice
	url = https://github.com/matf-pp/2021_Podmornice
	ignore = all
[submodule "Podmornice"]
	path = Podmornice
	url = https://github.com/kleut98/Podmornice
